{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1><a href="{% url 'Home' %}"><img src="{% static 'a.PNG' %}"/></a></h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <form class="logout-link" action="/accounts/login/" method="post">
                        {% csrf_token %}
                        <button type="Submit">Logout</button>
                    </form>
                </li>
                <li><a href="{% url 'articles:create'%}">New Article</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login'%}">Login</li>a></li>
                <li><a href="{% url 'accounts:signup'%}">Signup</li>a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html> 